.app-container {
  text-align: center;
  padding: 50px;
  font-family: Arial, sans-serif;
  justify-content: center;
  /* padding: 10px; */
}

.app-title {
  font-size: 36px;
  margin-bottom: 30px;
}
