.topNavigation{
  height: 50px;
  width: 100%;
  background-color: black;
}

.title{
  color: white;
}

.container{

  justify-content: space-between;
  height: 370px;
  width: 500px;
  margin-top: 20px;
  background-color: rgb(241, 157, 55);
  font-size: 20px;
  margin: 20px;
}

.description{

  font-size: small;
}

.productcontainer{
    display: flex;
}

.productcontainer h1{
  padding: 10px;
}

.Orderbtn{
  height: 20px;
  background-color: yellow;
}